/src/CommonTools/bin
/src/CommonTools/.gradle
/src/CommonTools/.settings
/src/CommonTools/gradle
/src/CommonTools/.classpath
/src/ConfigurationManager/gradle
/src/ConfigurationManager/.gradle
/src/ConfigurationManager/.settings
/src/ConfigurationManager/bin
/src/ConfigurationManager/dependencies
/src/UserConsole/.classpath
/src/UserConsole/.gradle
/src/UserConsole/.settings
/src/UserConsole/bin
/src/UserConsole/dependencies
/src/UserConsole/deploy
/src/UserConsole/gradle
/src/ConfigurationManager/lib
/src/simple-user-console/bin
/src/simple-user-console/.settings
/src/simple-user-console/.classpath
/src/simple-user-console/.project
/src/simple-user-console/gradlew
/src/simple-user-console/gradlew.bat
